<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403938547399-1dl8s27ef334lp5nm2k7tmfmvli51kfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403938547399-1dl8s27ef334lp5nm2k7tmfmvli51kfn</string>
	<key>API_KEY</key>
	<string>AIzaSyAxce_U1sQVDVVvXZ9LhjupgceGKkYuZjk</string>
	<key>GCM_SENDER_ID</key>
	<string>403938547399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sneakerStore</string>
	<key>PROJECT_ID</key>
	<string>sneaker-store-61981</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-store-61981.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403938547399:ios:e71484f3c209647c1490e2</string>
</dict>
</plist>